<div id="flex-form-container">
  <div class="flex-form-image">
<img *ngIf="update==true" mat-dialog-title class="img-display" [src]="loadImageUrl()">
</div>
<div class="flex-form-content">
<p *ngIf="update===true">ID = {{ artItem.id }}</p>
<form mat-dialog-content [formGroup]="profileForm" class="form-group" (ngSubmit)="onSubmit(profileForm.value)">
<div class="form-div">

      <label>Item Name</label>
     <input matInput id="itemName" type="text" formControlName="itemName" class="form-control" id="artistName" placeholder="Name of the item" required>

</div><div>
    
      <label>Artist Name</label>
     <input matInput type="artistName" type="text" formControlName="artistName" class="form-control" id="artistName" placeholder="Artist who made the item">

  </div><div>
    
      <label>Value</label>
     <input matInput type="value" type="text" formControlName="value" class="form-control" id="value" placeholder="e.g. '500kr'">

  </div><div>
    
      <label>Size</label>
     <input matInput type="size" type="text" formControlName="size" class="form-control" id="size" placeholder="e.g. '25x35cm'">

  </div><div>
    
      <label>Frame Description</label>
    <input matInput type="frameDescription" type="text" formControlName="frameDescription" class="form-control" id="frameDescription" placeholder="e.g. 'Wooden frame'">

  </div><div>
    
      <label>Technique</label>
    <input matInput type="technique" type="text" formControlName="technique" class="form-control" id="technique" placeholder="e.g. 'Oil painting', 'carved in wood'">

  </div>
  <div class="modal-footer">
<div class="form-value">
     <div *ngIf="update==true" ><button [disabled]="!profileForm.valid" type="submit">Update</button></div>
     <div *ngIf="update!=true" ><button [disabled]="!profileForm.valid" type="submit">Add</button></div>
  </div>
</div>
</form>
</div>
</div>
