.menuitem-button {
    width: 140px;
    background-color: white;
    color: rgb(5, 78, 143);
    font-family: sans-serif;
    border-width: 1px;
}
.mat-drawer {
    color: #fff;
    background-color: white;
}
.mat-raised-button {
    color: rgb(5, 78, 143);
    background-color: white;
    margin: 1em;
    box-shadow: inset;
}
/* .mat-focus-indicator { */
/*     display: none; */
/* } */
.mat-button-focus-overlay {
    color: red;
}
.create-lottery-button {
    color: rgb(5, 78, 143);
    font-size: 13px;
    background-color: white;
    box-shadow: inset;
}
