<mat-sidenav [(opened)]="visible" [autoFocus]="false">
    <mat-nav-list appAccordion>
        <mat-list-item>
            <button mat-raised-button class="main-buttons" (click)="visible=false">Close</button>
        </mat-list-item>
        <span *ngIf="lotteries.length>0">
            <mat-list-item appAccordionLink *ngFor="let menuitem of lotteries; let i=index" routerLinkActive="selected" [id]="i" (click)="pickLottery(i)">
                <div [id]="i">{{ menuitem.title }}</div>
            </mat-list-item>
        </span>
    </mat-nav-list>
</mat-sidenav>
