.art-item-details-card {
    height: 90%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* padding-bottom: 3rem; */
}
::ng-deep .art-item-details-card {
    width: auto;
    /* height: 80%; */
    /* max-height: 50rem; */
    background-color: #f5f9fc;
    color: #212738;
    margin: 0;
    /* max-width: 50rem; */
}
::ng-deep mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
}
#art-item-card-wrapper {
    margin: 0;
}
.mat-card-image {
    max-width: 100%;
    max-height: 20rem;
    margin: 0;
    /* margin-top: 4rem; */
    display: block;
    width: auto;
}
.mat-card-header {
    /* position: absolute; */
    top: 1rem;
}
.mat-card-actions {
    float: flex-end;
}
.mat-card-body {
    margin-top: 5rem;
    /* margin-bottom: -5rem; */
}
