* {
    align-items: flex-end;
    align-content: flex-end;
}

.name {
    float: left;
}

.buttons {
    display: block;
    float: right;
}

.contestant-row {
    height: auto !important;
}

.contestant-row:hover .cont-button-hover-show {
    opacity: 1;
}

.cont-button-hover-show {
    /* cursor: pointer; */
    opacity: 0;
}

.list-card {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.collapsed-office-name {
    display: contents;
    /* display: table; */
    /* align-items: flex-end; */
    /* color: blue; */
}

@media (max-width: 50em) {
    .collapsed-office-name {
        display: none;
        /* color: red; */
    }
}
