<ng-template #buttons>
    <button mat-icon-button class="cont-button-hover-show" aria-label="Redigera">
        <mat-icon id="edit" (click)="buttonHandler($event)">edit</mat-icon>
    </button>
    <button mat-icon-button class="cont-button-hover-show" aria-label="Ta bort">
        <mat-icon id="remove" (click)="buttonHandler($event)">delete</mat-icon>
    </button>
    <button mat-icon-button class="cont-button" aria-label="Mer info">
        <mat-icon id="expand" (click)="buttonHandler($event)">open_in_full</mat-icon>
    </button>
</ng-template>

<ng-template #contentsExpanded>
    <span class="name" matLine>
        <button mat-icon-button aria-label="Mer info"><mat-icon>account_circle</mat-icon></button>
        <mat-label> {{ data.name }} </mat-label>
        <p>dbId: {{ data.id }}</p>
        <p>employeeId: {{ data.employeeId }}</p>
        <p>teleNumber: {{ data.teleNumber }}</p>
        <p>office: BACKEND WIP</p>
    </span>

    <span class="buttons">
        <ng-template [ngTemplateOutlet]="buttons"></ng-template>
    </span>
</ng-template>

<ng-template #contentsCollapsed>
    <div class="collapsed-contestant-info-float">
        <div class="collapsed-contestant-info">
            <button mat-icon-button aria-label="Mer info"><mat-icon>account_circle</mat-icon></button>
        </div>
        <div #contInfoItems class="collapsed-contestant-info-items">
            <div #contInfoName class="collapsed-contestant-info-item" [ngStyle]="{'left': columnPositions[0]+'px'}">{{ data.name }}</div>
            <div #contInfoOffice class="collapsed-contestant-info-item" [ngStyle]="{'left': columnPositions[1]+'px'}">kontor: BACKENDWIP</div>
            <div #contInfoDbId class="collapsed-contestant-info-item" [ngStyle]="{'left': columnPositions[2]+'px'}">dbId: {{ data.id }}</div>
            <div #contInfoEmplId class="collapsed-contestant-info-item" [ngStyle]="{'left': columnPositions[3]+'px'}">employeeId: {{ data.employeeId }}</div>
            <div #contInfoTelNum class="collapsed-contestant-info-item" [ngStyle]="{'left': columnPositions[4]+'px'}">teleNumber: {{ data.teleNumber }}</div>
        </div>
        <div class="collapsed-contestant-buttons-cont">
            <div class="collapsed-contestant-buttons">
                <ng-template [ngTemplateOutlet]="buttons"></ng-template>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="inModal; else notInModal">
    <h1>IN MODAL VIEW</h1>
    <span class="name" matLine>
        <button mat-icon-button aria-label="Mer info"><mat-icon>account_circle</mat-icon></button>
        <mat-label> {{ data.name }} </mat-label>
        <p>dbId: {{ data.id }}</p>
        <p>employeeId: {{ data.employeeId }}</p>
        <p>teleNumber: {{ data.teleNumber }}</p>
        <p>office: BACKEND WIP</p>
    </span>
</div>

<ng-template #notInModal>
    <mat-list-item matLine checkboxPosition="before" class="contestant-row">
        <mat-pseudo-checkbox [state]="selected ? 'checked' : 'unchecked'" (click)="setSelected()"></mat-pseudo-checkbox>
        <mat-card class="list-card" (click)="toggleColapse($event)">
            <div *ngIf="expanded; else colapsed">
                <ng-template [ngTemplateOutlet]="contentsExpanded"></ng-template>
            </div>
            <ng-template #colapsed>
                <ng-template [ngTemplateOutlet]="contentsCollapsed"></ng-template>
            </ng-template>
        </mat-card>
    </mat-list-item>
</ng-template>
