* {
    align-items: flex-end;
    align-content: flex-end;
}

.name {
    float: left;
}

.buttons {
    display: block;
    float: right;
}

.contestant-row {
    height: auto !important;
}

.contestant-row:hover .cont-button-hover-show {
    opacity: 1;
}

.cont-button-hover-show {
    /* cursor: pointer; */
    opacity: 0;
}

.list-card {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.collapsed-contestant-info-float {
    display: flex;
    width: 100%;
}

.collapsed-contestant-info {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.cont-row-table-col {
    box-shadow: 1px solid #0000ff;
}

.collapsed-contestant-info-items {
    margin-top: auto;
    margin-bottom: auto;

    position: relative;
    height: 30px;

    overflow: hidden;
    width: 100%;
}

.collapsed-item {
    position: absolute;

    overflow: hidden;
    white-space: nowrap;

    margin-top: auto;
    margin-bottom: auto;

    width: fit-content;
    height: fit-content;
    min-width: 0px;

    top: 0;
    bottom: 0;
}
.winner-item-image {
    max-width: 30vw;
    max-height: 30vh;
}
#col-1 {
    left: var(--item-col-1);
}
#col-2 {
    left: var(--item-col-2);
}
#col-3 {
    left: var(--item-col-3);
}
#col-4 {
    left: var(--item-col-4);
}
#col-5 {
    left: var(--item-col-5);
}

.collapsed-contestant-buttons-cont {
    min-width: fit-content;
}
.collapsed-contestant-buttons {
    float: right;
}

.collapsing-office {
    display: contents;
    position: fixed;
    top: 100px;
    left: 400px;
}

@media (max-width: 50em) {
    .collapsing-office {
        display: none;
    }
}

.form-group {
    display: block;
    flex: 1 1 auto;
}
.mat-form-field {
    color: black;
    display: block;
    width: 100%;
}
.form-control {
    color: black;
}

#expanded-topline {
    display: flex !important;
    justify-content: space-between;
}
#buttons-expanded {
    display: block;
    float: right !important;
}
#account-icon {
    display: block;
    float: left !important;
}

.expanded-row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.choosen-item-wrapper {
    display: flex;
    flex-direction: column;
    /* align-content:space-around; */
    justify-content: space-between;

    align-items: center;
}
