<span class="contentant-main">
    <app-filter-list
        class="search-bar"
        [dataList]="rowData"
        [filterFunction]="filterFunction"
        (listChanged)="filteredItemsChangeListener($event)"
    ></app-filter-list>
    <div *ngIf="addNewRowData; else selectionButtons" id="add-new-cont-wrap">
        <app-contestant-row
            #renderedRow
            class="row-item row-add-new row-item-rendered"
            id="rendered"
            (interactionEvent)="interactionEventListener(-1, $event)"
            [(rowData)]="addNewRowData"
            [index]="-1"
            [enabledRowActions]="enabledRowActions"
        ></app-contestant-row>
    </div>
    <ng-template #selectionButtons>
        <app-contestant-sel-buttons
            *ngIf="enabledRowActions.buttonRow"
            [selectedItemsAmount]="selectedItemsAmount"
            [interactionEventListener]="buttonEventListener"
        ></app-contestant-sel-buttons>
    </ng-template>
    <mat-list *ngIf="rowData.length>0">
        <div #rowWrapper class="row-wrapper" *ngFor="let row of rowData; trackBy:trackByContestant; let idx=index" [id]="idx">
            <app-contestant-row
                #renderedRow
                *ngIf="!row.filtered"
                class="row-item row-item-rendered"
                id="rendered"
                (interactionEvent)="interactionEventListener(idx, $event)"
                [(rowData)]="rowData[idx]"
                [index]="idx"
                [enabledRowActions]="enabledRowActions"
            ></app-contestant-row>
            <!-- *ngIf="row.render &#38;&#38; !row.filtered; else notRenderedRow" -->
            <!-- <ng-template #notRenderedRow> -->
            <!--     <div class="row-item row-item-not-rendered" id="not-rendered" [style.height]="row.filtered ? 0 : unrenderedRowsHeight"></div> -->
            <!-- </ng-template> -->
        </div>
    </mat-list>
</span>
