.thumbnail-image {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
}

.ribbonable {
    z-index: 91;
}
.thumbnail-card {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.default-thumbnail-card {
    max-width: 10rem;
    min-width: 7rem;
    height: 10rem;
    background-color: #e1e1e1;
}

.mat-card-content {
    z-index: 86;
    position: absolute;
    bottom: 0;
}

.text {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 12.5px;
    color: black;
}

.thumbnail-checkbox {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.ribbon {
    /* position: absolute; */
    z-index: 100;
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    transform: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    /* position: relative; */
    padding: 7px 0;
    top: 15px;
    right: 6px;
    width: 120px;
    color: #fff;
}
#ribbon-available {
    background-color: #2ee47e;
}

#ribbon-taken {
    background-color: #ebb134;
}
