.square {
  height: 50px;
  width: 50px;
  background-color: white;
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.thumbnailImg {
  width: 120px;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 3px solid burlywood;
}
