<mat-card class="{{ cssClass }} thumbnail-card">
    <input class="thumbnail-checkbox" *ngIf="showCheckbox" type="checkbox" name="artItemCheckbox" value="{{ artItem.id }}" />
    <img class="thumbnail-image" src="http://localhost:8080/api/v1/item/image/{{ artItem.id }}" (click)="thumbnailClickHandler()" />
    <mat-card-content>
        <div class="text">
            <label for="artItem_{{ artItem.id }}"> {{ artItem.id}}. {{ artItem.itemName }}</label>
        </div>
    </mat-card-content>
</mat-card>
