.square {
    height: 50px;
    width: 50px;
    background-color: white;
    display: table-cell;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    /* outline-color: #000000; */
    /* outline-width: 1; */
  }
  .thumbnailImg {
    width: 120px;
    /* height: 120px; */
    /*margin: 9px;*/
    margin-right: 30px;
    margin-bottom: 30px;
    /*margin-left: 30px;*/
    border: 3px solid burlywood;
  }
 