<div class="modal" id="modalInfo" role="dialog" aria-labelledby="modalInfoLabel">
	<div class="modal-overlay" (click)="close($event)"></div>
		<div class="modal-dialog" role="document">
	  		<div class="modal-content">
		 		<div class="modal-header">
			<h5 class="modal-title" id="modalInfoLabel">Modal Header Example</h5>
			<button type="button" class="close" (click)="close($event)" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		 </div>
		 <div class="modal-body">
			<app-art-item-form [artItem]="artItem"></app-art-item-form>
		 </div>
	  </div>
	</div>
	</div>