
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
          <div class="form-group">
             <label for="itemName">Item Name</label>
             <input id="itemName" type="text" formControlName="itemName" class="form-control" id="artistName" placeholder="Name of the item" required>
          </div>
          <div class="form-group">
             <label for="artistName">Artist Name</label>
             <input type="artistName" type="text" formControlName="artistName" class="form-control" id="artistName" placeholder="Artist who made the item">
          </div>
          <div class="form-group">
             <label for="value">Value</label>
             <input type="value" type="text" formControlName="value" class="form-control" id="value" placeholder="e.g. '500kr'">
          </div>
          <div class="form-group">
             <label for="pictureUrl">Size</label>
             <input type="size" type="text" formControlName="size" class="form-control" id="size" placeholder="e.g. '25x35cm'">
          </div>
          <div class="form-group">
            <label for="">Frame Description</label>
            <input type="frameDescription" type="text" formControlName="frameDescription" class="form-control" id="frameDescription" placeholder="e.g. 'Wooden frame'">
         </div>
         <div class="form-group">
            <label for="">Technique</label>
            <input type="technique" type="text" formControlName="technique" class="form-control" id="technique" placeholder="e.g. 'Oil painting', 'carved in wood'">
         </div>
         <!-- <div class="form-group">
            <label for="">ID</label>
            <input type="technique" type="text" formControlName="id" class="form-control" id="technique" placeholder="Technique">
         </div> -->
         <div class="form-group">
            <label for="">Lottery ID</label>
            <input type="technique" type="text" formControlName="lotteryId" class="form-control" id="technique" placeholder="e.g. '45'">
         </div>
          <div class="modal-footer">
             <button [disabled]="!profileForm.valid" type="submit" class="btn btn-primary" >Add Item</button>
          </div>
          </form>
  
          <div *ngIf="update==true" ><p>Form Value: {{ profileForm.value | json }}</p>
         <p>Form Status: {{ profileForm.status }}</p>
         <p>Update status: {{update}}</p>
         </div>
          
          
          