<div id="main-content">
    <div id="form-wrap">
        <form id="login-form" role="form" (submit)="submit()">
            <mat-form-field matLine name="login" class="search-form" appearance="outline">
                <mat-label>Användarnamn:</mat-label>
                <input matInput name="user" class="username-form-input" type="text" placeholder="Användarnamn" [(ngModel)]="credentials.username" />
            </mat-form-field>

            <mat-form-field matLine name="login" class="search-form" appearance="outline">
                <mat-label>Lösenord:</mat-label>
                <input matInput name="pass" class="username-form-input" type="text" placeholder="Användarnamn" [(ngModel)]="credentials.password" />
            </mat-form-field>

            <button mat-button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
