#main-content {
    position: absolute;
    top: 0rem;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#form-wrap {
    max-width: 40rem;
}
#login-form {
    display: flex;
    flex-direction: column;
}
