<h1>Hello</h1>
<app-materialmodal [addItem]="true"></app-materialmodal>
<div class="container" id="main-container">
  <div class="row">
      
      <div *ngFor="let paint of paintings" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
              <div class="card-body row">
                  <div class="col-6">
                        <!-- <a href=""><img [src]="getImageUrl(paint.id)"  (click)="imageModalView($event, paint)" width="100px"></a> -->
                        <app-materialmodal [viewItem]="true" [artItem]="paint"></app-materialmodal>
                      
                  </div>
                  <app-materialmodal [artItem]="paint" [editItem]="true"></app-materialmodal>
                  
                  <div class="col-6 card-title align-self-center mb-0">
                      <h5>{{paint?.itemName}}</h5>
                      <p class="m-0">{{paint?.artistName}}</p>
                  </div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Value : <a href="#">{{paint.value}}</a></li>
                  <li class="list-group-item"><i class="fa fa-phone float-right"></i>Id : {{paint.id}}</li>
              </ul>
              <div class="card-body">
                  <div class="float-right btn-group btn-group-sm">
                      <!-- <a class="btn btn-primary tooltips" (click)="editImageModalView($event, paint)" data-toggle="modal" type="button" data-target="#editStudentModal" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a> -->
                      <a href="#" class="btn btn-secondary tooltips" (click)="deleteArtItem($event, paint)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                   </div>
                  <ul class="social-links list-inline mb-0">
                      <!-- <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                      <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li> -->
                  </ul>
                </div>
          </div>
      </div>
  </div>
</div>
