<div class="card" style="width: 18rem;">
    <ul class="list-group">
      <li class="list-group-item">Name: {{artItem.itemName}}</li>
      <li class="list-group-item">Artist: {{artItem.artistName}}</li>
      <li class="list-group-item">Value: {{artItem.value}}</li>
      <li class="list-group-item">Size: {{artItem.size}}</li>
      <li class="list-group-item">Frame Description: {{artItem.frameDescription}}</li>
      <li class="list-group-item">Technique: {{artItem.technique}}</li>
      <li class="list-group-item">Lottery ID: {{artItem.lotteryId}}</li>
    </ul>
  </div>