<div class="navbar-header">
  <mat-toolbar class="topbar telative">
    <button
      mat-raised-button
      class="main-buttons"
      color="accent"
      value="sidebarclosed"
      (click)="toggleSideNav.emit()"
    >
      <!-- (click)="snav.toggle()" -->
      <mat-icon>menu</mat-icon><a class="main-buttons-a">Norrkonst</a>
    </button>
    <button mat-raised-button class="main-buttons">
      <a class="main-buttons-a" [routerLink]="['.', 'artitems']"> Konstverk</a>
    </button>
    <button
      *ngIf="this.app.isAdmin == true"
      mat-raised-button
      class="main-buttons"
      color="accent"
    >
      <a class="main-buttons-a" [routerLink]="['.', 'appmembers']">
        Medlemmar</a
      >
    </button>
    <button mat-raised-button class="main-buttons" color="accent">
      <a class="main-buttons-a" [routerLink]="['.', 'winners']"> Vinnare</a>
    </button>
    <button
      *ngIf="this.app.isAdmin == false"
      mat-raised-button
      class="app-association"
      color="accent"
    >
      <a class="main-buttons-a" [routerLink]="['.', 'association']">
        Om föreningen</a
      >
    </button>
    <button
      *ngIf="this.app.isAdmin == true"
      mat-raised-button
      class="main-buttons"
      color="accent"
    >
      <a class="main-buttons-a" [routerLink]="['.', 'applottery']"
        >Starta lotteri</a
      >
    </button>

    <button *ngIf="this.app.isAdmin == true" disabled class="logOut">Logga ut</button>
  </mat-toolbar>

  <div class="navbar-brand">
    <a href="index.html">
      <img class="logga" src="assets/images/sogeti.jpg" alt="logga" />
    </a>
  </div>
</div>
