.header-container {
    background-color: #2485c1;
    height: 4rem;
}

.header-items-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons-wrap {
    float: left;
    display: flex-start;
    margin-right: auto;
    top: 0px;
    bottom: 0px;
}

.drop-menu-button {
    float: left;
}

.header-buttons {
    margin-right: 1rem;
    box-shadow: inset;
}

.sidebar-button {
    height: 2rem;
    font-size: 14px;
    line-height: normal;
}
.route-button {
    height: 2rem;
    font-size: 14px;
    line-height: normal;
}

.login-out-button {
    background-color: rgb(176, 175, 175);
    color: white !important;
    height: 20px;
    font-size: 12px;
    line-height: normal;
}

.navbar-brand {
    float: right;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-content: center;
}

.logga {
    height: 3rem;
    align-self: center;
}

.mat-focus-indicator {
    color: rgb(5, 78, 143);
}
