.navbar-header {
  margin: auto;
  display: flex;
  justify-content: right;
}

.logga {
  width: 120px;
  margin-top: 10px;
  /* margin-right: 100px; */
  position: relative;
  margin-right: 0px;
  margin-left: auto;
}

.main-buttons {
  color: #000000;
  background-color: #ff0000;
  margin: 1em;
}
