<div class="modal" id="modalInfo" role="dialog" aria-labelledby="modalInfoLabel">
	<div class="modal-overlay" (click)="close($event)"></div>
		<div class="modal-dialog" role="document">
	  		<div class="modal-content">
		 		<div class="modal-header">
					<a href="http://localhost:8080/api/v1/item/image/{{artItem.id}}"	 target="_blank" rel="noopener noreferrer"><img class="img-display" [src]="loadImageUrl()"></a>
					<button type="button" class="close" (click)="close($event)" aria-label="Close">
			<span class="x-button" aria-hidden="true">&times;</span>
			</button>
		 </div>
		 <div class="modal-body">
			<app-art-item-form [artItem]="artItem" ></app-art-item-form>
		 </div>
	  </div>
	</div>
	</div>