.admin-view-art-items-buttons {
    margin: 0px;
}
.main-buttons-a {
    height: 2rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    color: rgb(5, 78, 143);
    text-decoration: none;
}
.mat-raised-button {
    background-color: white;
    margin-right: 10px;
    height: 1.5rem;
    font-size: 12px;
    line-height: normal;
}
.main-buttons-b {
    height: 1.5rem;
    font-size: 10px;
    line-height: normal;
    background-color: white;
    color: rgb(5, 78, 143);

    float: right;
}
