<app-search></app-search>
<button mat-raised-button class="main-buttons" color="accent">
    <a class="main-buttons-a" [routerLink]="['.', 'applottery']">Ta bort valda</a>
  </button>
  <button mat-raised-button class="main-buttons" color="accent">
    <a class="main-buttons-a" [routerLink]="['.', 'applottery']">Välj alla</a>
  </button>
  <button mat-raised-button class="main-buttons-b" color="accent">
    <a class="main-buttons-a" [routerLink]="['.', 'applottery']">Lägg till ny</a>
  </button>
<art-items-list></art-items-list>