<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{artItem.itemName}}</mat-card-title>
      <mat-card-subtitle>{{artItem.artistName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="loadImageUrl()" alt="Photo of item">
    <mat-card-content>
        <p>'Description of item (maybe)'</p>
        <ul class="list-group">
            <li class="list-group-item">Value: {{artItem.value}}</li>
            <li class="list-group-item">Size: {{artItem.size}}</li>
            <li class="list-group-item">Frame Description: {{artItem.frameDescription}}</li>
            <li class="list-group-item">Technique: {{artItem.technique}}</li>
            <li class="list-group-item">Lottery ID: {{artItem.lotteryId}}</li>
          </ul>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>