<div *ngIf="artItems.length == 0; else mainContent">loading...</div>
<ng-template #mainContent>
<ng-container *ngFor="let item of artItems; let i = index">
  <div style="max-width: 800px" class="row" *ngIf="i % 5 == 0">
    <ng-container *ngFor="let pos of [0, 1, 2, 3, 4]">
      <div class="column" *ngIf="i + pos < artItems.length">
        <thumbnail [id]="artItems[i + pos].id" [artItem]="artItems[i + pos]" cssClass="thumbnailImg" ></thumbnail>
      </div>
    </ng-container>
  </div>
</ng-container>
</ng-template>