#art-item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    grid-gap: 1rem;
    justify-content: space-between;
    overflow-x: hidden;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.art-item-thumbnail {
    width: 30rem;
    height: 30rem;
}
