<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{object.itemName}}</mat-card-title>
        <mat-card-subtitle>{{object.artistName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="loadImageUrl()" alt="Photo of item" />
    <mat-card-content class="mat-card-body">
        <ul class="list-group">
            <div *ngIf="objectContent[1][0]=='itemName'">
                <div *ngFor="let value of values; let i=index">
                    <div class="form-group">
                        <div *ngIf="editMode == true">
                            <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
                                <li class="list-group-item">
                                    <div *ngIf="editMode == true">
                                        <div *ngIf="variableNames[i]!= 'lottery_id'">
                                        {{prettyVarNames[i]}}:
                                        <input formControlName="{{variableNames[i]}}" type="text" class="form-control" id="{{variableNames[i]}}" />
                                    </div>
                                    <!--  -->
                                    <div *ngIf="variableNames[i]== 'lottery_id'">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Lottery</mat-label>
                                        <mat-select [(value)]="selected"> 
                                            <mat-option *ngFor="let lottery of lotteries; index as i" [value]="lottery.id">
                                                {{lottery.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field></div>
                                    <!--  -->
                                    <!-- <div *ngIf="variableNames[i]== 'lottery_id'">
                                        {{prettyVarNames[i]}}:
                                        <select class="custom-select" formControlName="{{variableNames[i]}}" >
                                            
                                            <option value="">Choose lottery</option>
                                            <option *ngFor="let lottery of lotteries" [value]="selected">{{lottery.title}}</option>
                                          </select>
                                    </div> -->
                                    <!--  -->
                                    </div>
                                </li>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="editMode == false">
                        <li class="list-group-item">{{prettyVarNames[i]}}: {{value}}</li>
                    </div>
                </div>
            </div>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="editMode == false"><button *ngIf="this.authService.isAdmin == true" mat-button (click)="enableEdit()">Edit</button></div>
        <div *ngIf="editMode == true">
            <button [disabled]="!profileForm.valid" type="submit" mat-button (click)="onSubmit(profileForm.value)">Update</button>
        </div>
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>

