.example-card {
    max-height: 90vh;
}
.mat-card-image {
    max-height: 55vh;
    width: auto;
}
.mat-card-header {
    margin: -8px;
}
.mat-card-actions {
    padding: 0px;
}
.mat-card-body {
    margin-bottom: 10px;
}
