<span class="contentant-main">
    <div *ngIf="contestantData !== undefined">
        <mat-form-field matLine class="search-form" appearance="outline" [formGroup]="searchForm">
            <mat-label>Search:</mat-label>
            <input
                matInput
                class="search-form-input"
                type="search"
                placeholder="Exempel exempeplson"
                (input)="keyDownFunction($event)"
                formControlName="query"
            />
        </mat-form-field>
        <mat-list>
            <app-contestant-row
                *ngFor="let cont of getVisibleContstants()"
                (elementClicked)="contRowElementClickedEvent($event)"
                [data]="cont"
            ></app-contestant-row>
        </mat-list>
    </div>
</span>
 src/app/pages/contestants/contestants.component.spec.ts src/app/pages/contestants/contestants.component.ts
