<div class="button-container">
    <div id="left">
        <div *ngIf="selectedItemsAmount == 0; then withoutSelection; else withSelection"></div>
    </div>
    <div id="right">
        <button id="add-new" class="button" (click)="interactionEventListener(-1, undefined, ClickableElements.addNew)">Lägg till ny</button>
    </div>
</div>

<ng-template #withoutSelection>
    <button id="select-all" class="button" (click)="interactionEventListener(-1, undefined, ClickableElements.selectAll)">Välj alla</button>
</ng-template>
<ng-template #withSelection>
    <button id="select-none" class="button" (click)="interactionEventListener(-1, undefined, ClickableElements.selectNone)">Välj ingen</button>
    <button id="delete-selected" class="button" (click)="interactionEventListener(-1, undefined, ClickableElements.removeSelected)">Ta bort valda</button>
</ng-template>
